<h3>Welcome</h3>
<p>Hot-desk app is an app to allow staff to book their desks and find
where their colleagues are sitting.</p>
<p><%= link_to 'Staffs:', users_path %> <%= User.count %>  booked seat(s)</p>
